In [29]:
# https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

import plotly.express as px

import sklearn.model_selection
import numpy as np

from sklearn.metrics import mean_squared_log_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import QuantileTransformer

# Model selection
- Splitting the data : Initially, the dataset is divided into training and validation sets. The training set is usedto train different models with various hyperparameters, and the validation set is used to assess theirperformance.

- Cross validation : Cross-validation is employed to evaluate the model's performance across differentsubsets of the data. This helps in selecting the best model and its corresponding hyperparameters.

- Selecting the Best Model : Once the best model and hyperparameters are identified based oncross-validation performance, the next step is to use these to train a final model.

- training the final model : The final model is then trained on the entire training dataset using the selectedhyperparameters. This is often done to ensure that the model learns from the full diversity of the trainingdata and captures the underlying patterns more effectively

- Evaluation : After training the final model, it is typically evaluated on a separate test set that the modelhas never seen during training or cross-validation. This provides an unbiased assessment of the model'sgeneralization performance on new, unseen data.

In [69]:
train_df = pd.read_csv('datasets/train.csv')
test_df = pd.read_csv('datasets/test.csv')

In [3]:
target_column = 'SalePrice'


numerical_df = train_df.select_dtypes(include='number')
#numerical_df = numerical_df.drop(columns=['Id', target_column])
numerical_df = numerical_df.dropna(axis=1)
numerical_columns = [column for column in numerical_df.columns
                           if column
                           in test_df.dropna(axis=1).columns]
numerical_df=numerical_df[numerical_columns+[target_column]]

y=train_df[target_column]

numerical_df

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,LowQualFinSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,8450,7,5,2003,2003,856,854,0,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,9600,6,8,1976,1976,1262,0,0,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,11250,7,5,2001,2002,920,866,0,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,9550,7,5,1915,1970,961,756,0,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,14260,8,5,2000,2000,1145,1053,0,...,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,7917,6,5,1999,2000,953,694,0,...,0,40,0,0,0,0,0,8,2007,175000
1456,1457,20,13175,6,6,1978,1988,2073,0,0,...,349,0,0,0,0,0,0,2,2010,210000
1457,1458,70,9042,7,9,1941,2006,1188,1152,0,...,0,60,0,0,0,0,2500,5,2010,266500
1458,1459,20,9717,5,6,1950,1996,1078,0,0,...,366,0,112,0,0,0,0,4,2010,142125
1459,1460,20,9937,5,6,1965,1965,1256,0,0,...,736,68,0,0,0,0,0,6,2008,147500

Validation and training dataset

In [51]:
# sample re-use
from sklearn.model_selection import KFold
kf = KFold(n_splits=2)
train_data, validating_data = kf.split(numerical_df)

In [58]:
# Feature engineering - Encode non numerical columns

In [66]:
train_df["Street"].map({"Pave":1,"Grvl":0})

0       1
1       1
2       1
3       1
4       1
       ..
1455    1
1456    1
1457    1
1458    1
1459    1
Name: Street, Length: 1460, dtype: int64

In [65]:
train_df["Street"].unique()

array(['Pave', 'Grvl'], dtype=object)

In [ ]:
# Feature engineering - transform numerical columns (at least log transform on area features)

In [ ]:
# Feature engineering - Create new feature (ex: years -> ages)

In [ ]:
# Define a cross validation procedure

In [ ]:
# Perform a grid search accross several models

In [ ]:
# Package your model in a pipeline